@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

//font types

$mainFont: "Space Mono", monospace;

//Color Palette
$primaryColor: #000;
$secondaryColor: #fff;
$complimentaryColor: #50f989;
