.main {
  display: flex;
  flex-direction: column;

  column-gap: 5rem;
}

.top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    flex-grow: 1;
  }
}
