.main {
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
  .nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      flex-grow: 1;
    }
  }
  .desktopMenu {
    display: none;
  }
}

@media all and (min-width: 1500px) {
  .main {
    .mobileMenu {
      display: none;
    }
    .desktopMenu {
      display: flex;
    }
  }
} ;
