@import "../styles//utils/variables";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .link {
    width: 80%;
    margin: 0;
    height: 20em;
    border: 1px solid grey;
    margin-bottom: 1.5rem;
    box-shadow: white 0px 0px 10px;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;

      .headerText {
        margin-bottom: 0.3rem;
      }
      .projectImg {
        width: 5%;
        align-self: flex-start;
        margin: 0.5rem;
      }
      .languagesList {
        list-style: none;
        font-size: 0.5rem;
        display: flex;
        gap: 1rem;
      }
    }

    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .infoText {
        font-size: 0.8rem;
        width: 80%;
      }
    }
  }
}

@media all and (min-width: 800px) {
  .main {
    .link {
      .header {
        .languagesList {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media all and (min-width: 1500px) {
  .main {
    height: 40em;
    position: relative;
    .link {
      margin-top: 3rem;
      width: 50%;
      position: absolute;
    }
    .active {
      background: black;
      opacity: 100%;
      z-index: 1 !important;
    }
    .inactive {
      z-index: 0;
      opacity: 15%;
    }
    .link:nth-child(1) {
      left: 200px;
      top: 200px;
    }
    .link:nth-child(2) {
      left: 600px;
      top: -20px;
    }
    .link:nth-child(3) {
      left: 500px;
      top: 125px;
    }
    .link:nth-child(4) {
      left: 50px;
    }
  }

  .body {
    flex-direction: column;
    .infoText {
      font-size: 2rem;
    }
  }
}
