.main {
  width: 60%;
  margin: 5rem 0;
}

@media all and (min-width: 1000px) {
  .main {
    width: 50%;
  }
}

@media all and (min-width: 1500px) {
  .main {
    width: 30%;
    margin: 15rem 0;
  }
}
